<div class="signup-container">
  <div class="small-signup-container">
    <h2 class="signup-heading">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field my-4">
        <%= f.text_field :name,
                     autofocus: true,
                     placeholder: "Enter Name",
                     required: true,
                     class: "input-field" %>
      </div>

      <div class="field my-4">
        <%= f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      placeholder: "Enter Email",
                      required: true,
                      class: "input-field" %>
      </div>

      <div class="field my-4">
        <%= f.password_field :password,
                         autocomplete: "new-password",
                         placeholder: "Enter Password",
                         required: true,
                         minimum: 6,
                         class: "input-field" %>
        <br/>
        <% if @minimum_password_length %>
          <em class="char-text">(<%= @minimum_password_length %>
            characters minimum)</em>
        <% end %>
      </div>
      <div class="field my-4">
        <%= f.password_field :password_confirmation,
                         autocomplete: "new-password",
                         placeholder: "Re-enter Password",
                         required: true,
                         minimum: 6,
                         class: "input-field" %>
      </div>

      <div class="signup-btns my-4">
        <div>
          <%= f.submit "Sign up", class: 'cursor-pointer' %>
        </div>
        <div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
