<%= render "shared/navbar" %>

<div class="public-recipe-container">
  <% @public_recipes.each do |recipe| %>
    <div class="public-recipe-item">
      <div class="public-recipe-names">
        <h2 class="text-xl">
          <%= link_to recipe.name,
          recipe,
          class: "font-medium text-blue-600 dark:text-blue-500  hover:underline" %></h2>
        <br/>
        <i>By</i>
        <%= recipe.user.name %>
      </div>
      <div class="public-recipe-item-total">
        Total Food Items:
        <%= recipe.recipe_foods.count %>
        <br/>
        <br/>
        <% recipe_total_price = 0 %>
        <% recipe.recipe_foods.each do |recipe_foods_item| %>
          <% recipe_total_price += recipe_foods_item.quantity * recipe_foods_item.food.price %>

        <% end %>
        Total Price: $<%= recipe_total_price %>
      </div>
    </div>
  <% end %>
</div>
