<p style="color: green"><%= notice %></p>

<%= render "shared/navbar" %>

<div class="flex flex-col items-center">
  <h1 class="text-6xl my-4"><%= @recipe.name %></h1>

  <div class="flex flex-row my-6">
    <div class="flex flex-col mx-6">
      <p class="text-lg mx-2 my-4"><strong>Preparation time:
        </strong><%= @recipe.preparation_time %></p>
      <p class="text-lg mx-2 my-4"><strong>Cooking time:
        </strong><%= @recipe.cooking_time %></p>
      <p class="text-lg mx-2 my-4"><%= @recipe.description %></p>
    </div>
    <div class="flex flex-row mx-6">
      <span class="me-2 my-4"><strong>Public
        </strong></span>
      <div class="my-3">
        <%= link_to "/toogle/#{@recipe.id}" do %>
          <% if @recipe.public %>
            <i class="fas fa-toggle-on fa-2x text-green-400"></i>
          <% else %>
            <i class="fas fa-toggle-off fa-2x text-red-400"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
